using System;

namespace <#=Namespace#> {
	public partial class <#=ClassName#> {
		
		protected override void Startup() {
			// Initialization goes here.
		}
		
		protected override void Play() {
			// Code starts here.
			Notify("Starting Sequence");
		}
		
		protected override void Shutdown() {
			// Tear-down of initialization goes here.
		}

	}
}
