bin/
obj/
*.pdb
_ReSharper*
/*.exe
/*.exe.*
*.user
*.suo
/Release
/Release64
Vixen 3*
Vixen.sdf
Vixen.opensdf
/Vixen.VC.opendb
/Vixen.VC.VC.opendb
/Vixen.VC.db
Debug64
Debug
/.vs
src/Vixen.Common/Box2D/x64
src/Vixen.Common/Box2D/Win32
src/Vixen.Modules/Effect/Liquid/LiquidFunWrapper/x64
/x64
FodyWeavers.xsd
.idea