bin/
obj/
*.pdb
_ReSharper*
/*.exe
/*.exe.*
*.user
*.suo
/Output
/Release
/Release64
Vixen 3*
Vixen.sdf
Vixen.opensdf
/Vixen.VC.opendb
/Vixen.VC.VC.opendb
/Vixen.VC.db
Debug64
Debug
/.vs
/Common/Box2D/x64
/Common/Box2D/Win32
/Modules/Effect/Liquid/LiquidFunWrapper/x64
/x64
