
.logo
{
	width: 100%;
	height: auto;
	max-width: 385px;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading {
	margin: 0;
}
.ui-li-static.ui-collapsible {
	padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
	border-top-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
	border-bottom-width: 0;
}
