
.logo
{
	width: 100%;
	height: auto;
	max-width: 385px;
}

/* Hack for IE11 list styles on first load
	http://stackoverflow.com/questions/20356311/internet-explorer-11-ignores-list-stylenone-on-the-first-load
*/
html[data-useragent*='rv:11.0'] .ui-navbar li {
	list-style-image: url(data:0);
}

.controlgroup-textinput{
	padding-top:.22em;
	padding-bottom:0;
}
