<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
					xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
		<Bundle
        Name="$(var.BundleName)"
        Version="$(var.Version)"
        UpgradeCode="$(var.UpgradeCode)"
        Compressed="no"
        SplashScreenSourceFile="splashscreen.bmp">

				<BootstrapperApplication>
						<bal:WixStandardBootstrapperApplication
										LicenseUrl=""
										Theme="hyperlinkLicense" />
				</BootstrapperApplication>

				<Chain>
						<PackageGroupRef Id="BundlePackages" />
				</Chain>
		</Bundle>
</Wix>
