<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Common;Modules/App;Modules/EffectEditor;Modules/Effect;Modules/CommandStandardExtension;Modules/Editor;Modules/ModuleTemplate;Modules/Input;Modules/Output;Modules/RuntimeBehavior;Modules/Sequence;Modules/Transform;Modules/Trigger;Modules/Media;Modules/Timing;Modules/Script;Modules/Property;"/>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
