<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
					xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

		<?include EnvironmentInclude.wxi?>
		
  <Package Name="$(var.Name)" Manufacturer="Vixen Lights" Version="$(Version)" UpgradeCode="$(var.UpgradeCode)">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
			
    <Feature Id="Release">
      <ComponentGroupRef Id="HarvestedComponents" />
						<ComponentRef Id="ApplicationShortcut" />
						<ComponentRef Id="DesktopApplicationShortcut"/>
    </Feature>
  </Package>
		
</Wix>
