<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer)\!(bind.Property.ProductName)" />
    </StandardDirectory>
				<StandardDirectory Id="ProgramMenuFolder">
						<Directory Id="ApplicationProgramsFolder" Name="Vixen Lights"/>
				</StandardDirectory>
				
				<Icon Id="VixenIcon" SourceFile="..\..\Installer\vixen.ico" />
				
				<StandardDirectory Id="DesktopFolder">
								<Component Id="DesktopApplicationShortcut" Guid="a99710a4-bc42-4c4d-a3cc-96136c7d914e">
										<Shortcut Id="DesktopShortcut"
																				Name="Vixen"
																				Description="Vixen Sequencer"
																				Target="[INSTALLFOLDER]Vixen.Application.exe"
																				WorkingDirectory="INSTALLFOLDER"
																				Icon="VixenIcon">
												
										</Shortcut>
										<RemoveFolder Id="CleanUpDesktopShortCut" Directory="DesktopFolder" On="uninstall"/>
										<RegistryValue Root="HKCU" Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
								</Component>
				</StandardDirectory>
				
				<DirectoryRef Id="ApplicationProgramsFolder">
						<Component Id="ApplicationShortcut" Guid="abe96642-92a2-4a1c-aa37-cbc4b92c782f">
								<Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Vixen"
                  Description="Vixen Sequencer"
                  Target="[INSTALLFOLDER]Vixen.Application.exe"
                  WorkingDirectory="INSTALLFOLDER"
																		Icon="VixenIcon">
								</Shortcut>
								<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
								<RegistryValue Root="HKCU" Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
						</Component>
				</DirectoryRef>

  </Fragment>
</Wix>
