<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<!-- 
	See http://nlog-project.org/wiki/Configuration_file 
	for information on customizing logging rules and outputs.
	 -->
		<targets>
			<!-- add your targets here -->
			<!--use the key [VIXENPROFILEDIR] to reference the root of the current Vixen Profile -->
			<!--<target name="Logs" xsi:type="File"
											fileName="[VIXENPROFILEDIR]/logs/${level}.log"
											archiveFileName="[VIXENPROFILEDIR]/logs/archive/${level}_{#####}.log"
											archiveAboveSize="1000000"
											maxArchiveFiles="10"
							>
				<layout xsi:type="CSVLayout">
					<column name="User_Machine_Name" layout="${machinename}" />
					<column name="Time" layout="${date}" />
					<column name="Level" layout="${level}" />
					<column name="Message" layout="${message}" />
					<column name="Exception_Message" layout="${exception:format=Message}"/>
					<column name="Exception_Type" layout="${exception:format=Type}"/>
					<column name="Callsite_Class" layout="${callsite:methodName=false}" />
					<column name="Callsite_Method" layout="${callsite:className=false}" />
					<column name="Stack_Trace" layout="${stacktrace:format=DetailedFlat}"/>
				</layout>
			</target>-->

			<target name="Logs" xsi:type="File" fileName="${specialfolder:MyDocuments}/Vixen 3/logs/Application.${level}.log" layout="${date:format=MM/dd/yyyy HH\:mm\:ss.fff} [${logger}] ${message} ${exception:format=ToString,StackTrace}" archiveFileName="${specialfolder:MyDocuments}/Vixen 3/logs/archive/Application.${level}.${shortdate}.{#}.log" archiveAboveSize="1000000" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="30"/>
			
			<!--<target name="Logs" xsi:type="File" fileName="${specialfolder:MyDocuments}/Vixen 3/logs/${level}.log" archiveFileName="${specialfolder:MyDocuments}/Vixen 3/logs/archive/${level}_{#####}.log" archiveAboveSize="1000000" layout="${date} [${logger}] ${message} ${exception:format=ToString,StackTrace}" maxArchiveFiles="10">
			</target>-->
			<target name="ScheduleLogs" xsi:type="File" fileName="${specialfolder:MyDocuments}/Vixen 3/logs/Scheduler.${level}.log" archiveFileName="${specialfolder:MyDocuments}/Vixen 3/logs/archive/Scheduler.${level}.${shortdate}.{#}.log" archiveAboveSize="1000000" archiveEvery="Day" archiveNumbering="Date" layout="${date:format=MM/dd/yyyy HH\:mm\:ss.fff} [${logger}] ${message} ${exception:format=ToString,StackTrace}" maxArchiveFiles="30">
			</target>

			<target name="V2ConvertLogs" xsi:type="File" fileName="${specialfolder:MyDocuments}/Vixen 3/logs/V2Convert.${level}.log" archiveFileName="${specialfolder:MyDocuments}/Vixen 3/logs/archive/V2Convert.${level}.${shortdate}.{#}.log" archiveAboveSize="1000000" archiveEvery="Day" archiveNumbering="Date" layout="${date:format=MM/dd/yyyy HH\:mm\:ss.fff} [${logger}] ${message} ${exception:format=ToString,StackTrace}" maxArchiveFiles="30">
			</target>

			<!--Switch these config entries if you want to log entries to the active profile-->
			<!--<target name="Logs" xsi:type="File"
										fileName="[VIXENPROFILEDIR]/logs/${level}.log"
										archiveFileName="[VIXENPROFILEDIR]/logs/archive/${level}_{#####}.log"
										archiveAboveSize="1000000"
										layout="${date} [${logger}] ${message} ${exception:format=ToString,StackTrace}"
										maxArchiveFiles="10">

			</target>-->
		
		</targets>

		<rules>
			<!-- add your logging rules here -->
			<logger name="VixenModules.SequenceType.Vixen2x.*" minlevel="Info" writeTo="V2ConvertLogs" final="true"/>
			<logger name="Scheduler" minlevel="Debug" writeTo="ScheduleLogs" final="true"/>
			<logger name="*" minlevel="Info" writeTo="Logs"/>
			<!--<logger name="*" minlevel="Error" writeTo="xmlFile" />-->
		</rules>
	</nlog>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.Controls.Grid.StarDefinitionsCanExceedAvailableSpace=true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Common;Modules/App;Modules/Analysis;Modules/EffectEditor;Modules/Effect;Modules/Editor;Modules/ModuleTemplate;Modules/Input;Modules/Controller;Modules/RuntimeBehavior;Modules/SequenceType;Modules/Trigger;Modules/Media;Modules/MediaRenderer;Modules/Timing;Modules/Script;Modules/Property;Modules/Preview;Modules/OutputFilter;Modules/SequenceFilter;Modules/SmartController;Modules/Service;"/>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
		  
		</assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
	</runtime>
	<system.windows.forms jitDebugging="true"/>
	<appSettings>
		<!--<add key="DisableEffectsEditorRendering" value="true"/>-->
		<add key="MultiEditLimit" value="75"/>
	</appSettings>
</configuration>
