<#@ template language="C#" #>
Imports System

Namespace <#=Namespace#> 
	Public Class <#=ClassName #>
		Protected Overrides Sub Startup
			' Initialization goes here.
		End Sub
		
		Protected Overrides Sub Play
			' Code starts here.
		End Sub
		
		Protected Overrides Sub Shutdown
			' Tear-down of initialization goes here.
		End Sub
	End Class
End Namespace