<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Common;Modules/App;Modules/EffectEditor;Modules/Effect;Modules/Editor;Modules/ModuleTemplate;Modules/Input;Modules/Controller;Modules/RuntimeBehavior;Modules/SequenceType;Modules/Trigger;Modules/Media;Modules/Timing;Modules/Script;Modules/Property;Modules/OutputFilter;Modules/SequenceFilter;Modules/SmartController;"/>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
