<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
				       xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
					xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Fragment>
				<netfx:DotNetCoreSearch RuntimeType="aspnet" Platform="x64" MajorVersion="6" Variable="ASP_NET_VER" />
				
				<PackageGroup Id="ASPNetCore6Package">
						<ExePackage DisplayName="Microsoft ASP.NET Core 6.0.14 - Shared Framework (x64)"
																		PerMachine="yes"
																		InstallArguments="/norestart /quiet"
																		DetectCondition="ASP_NET_VER &gt;= v6.0.14"
																		InstallCondition="VersionNT64"
																		Permanent="yes">
								<ExePackagePayload DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/95355fd2-12e2-4a03-b7ef-deff884e040b/a1070d778070557ef3a49eeaac524670/aspnetcore-runtime-6.0.14-win-x64.exe"
																											Hash="8b94e16f132299bf79b63cd688efe2b5fa56a387139a29d3a6c66a433e0ae51e1ac822e1f1e4093ad16fba7495ceceb7a6b0463da946660c66ea0ee0a2a05060"
																											Name="aspnetcore-runtime-6.0.14-win-x64.exe"
																											Size="8974624"/>
								<ExitCode Value="0" Behavior="success"/>
						</ExePackage>
						<ExePackage DisplayName="Microsoft ASP.NET Core 6.0.14 - Shared Framework (x86)"
																		PerMachine="yes"
																		InstallArguments="/norestart /quiet"
																		DetectCondition="ASP_NET_VER &gt;= v6.0.14"
																		InstallCondition="NOT VersionNT64"
																		Permanent="yes">
								<ExePackagePayload DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/f7e263ac-64e0-41a6-b6b3-eca6a8ff193b/e8ca4e4568fccaf82d8081ddb9a3e18f/aspnetcore-runtime-6.0.14-win-x86.exe"
																											Hash="b1c29ab498af9e9c430f9dee12f87c8db91c2bdfcd6772841f8cef979d598c3bd1530d011575dd460648a79f0a418ce9a785e045098e543bce88e7a5d129d68e"
																											Name="aspnetcore-runtime-6.0.14-win-x86.exe"
																											Size="8201584"/>
								<ExitCode Value="0" Behavior="success"/>
						</ExePackage>
				
				</PackageGroup>

  </Fragment>
</Wix>