<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
				       xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
					xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Fragment>
				<netfx:DotNetCoreSearch RuntimeType="aspnet" Platform="x64" MajorVersion="6" Variable="ASP_NET_VER" />
				
				<PackageGroup Id="ASPNetCorePackage">
						<ExePackage DisplayName="Microsoft ASP.NET Core 8.0.6 - Shared Framework (x64)"
																		PerMachine="yes"
																		InstallArguments="/norestart /quiet"
																		DetectCondition="ASP_NET_VER &gt;= v8.0.6"
																		InstallCondition="VersionNT64"
																		Permanent="yes">
								<ExePackagePayload DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/38b32fc8-8070-4f14-bd52-65505fddc5ff/50e6cf3b7505eee02c3b3db8ea46ffe3/aspnetcore-runtime-8.0.6-win-x64.exe"
																											Hash="7bdd420d03e92d8e05a8467649f5a0e64910341e945f3ae6f0ce26dc513b121ce00d4bd8889b043fddd4c6eadffd52a69cd12edb62a661b2b23a886174e4dfc1"
																											Name="aspnetcore-runtime-8.0.6-win-x64.exe"
																											Size="10496800"/>
								<ExitCode Value="0" Behavior="success"/>
						</ExePackage>
						<ExePackage DisplayName="Microsoft ASP.NET Core 8.0.6 - Shared Framework (x86)"
																		PerMachine="yes"
																		InstallArguments="/norestart /quiet"
																		DetectCondition="ASP_NET_VER &gt;= v8.0.6"
																		InstallCondition="NOT VersionNT64"
																		Permanent="yes">
								<ExePackagePayload DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/88a7d3f3-615e-4771-8709-1e16873645b3/a36f311385df553e54201137f53d041e/aspnetcore-runtime-8.0.6-win-x86.exe"
																											Hash="b311bd4ae0a87fbce391005edb1c6b55d4e630e59fa15a7ed510947aaa6bf3ffc2970e833d3a9f9063f5f8af3ffa4cdd5c2da3e0d808990977c0ce6e262f15fa"
																											Name="aspnetcore-runtime-8.0.6-win-x86.exe"
																											Size="9696928"/>
								<ExitCode Value="0" Behavior="success"/>
						</ExePackage>
				
				</PackageGroup>

  </Fragment>
</Wix>