<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
				       xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
					xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Fragment>
				<netfx:DotNetCoreSearch RuntimeType="desktop" Platform="x64" MajorVersion="10" Variable="DOT_NET_VER" />
				
				<PackageGroup Id="NetCorePackage">
						<ExePackage DisplayName="Microsoft Windows .NET Desktop Runtime 10.0.1 (x64)"
																		PerMachine="yes"
																		InstallArguments="/norestart /quiet"
																		DetectCondition="DOT_NET_VER &gt;= v10.0.1"
																		InstallCondition="VersionNT64"
																		Permanent="yes">
								<ExePackagePayload DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/10.0.1/windowsdesktop-runtime-10.0.1-win-x64.exe"
																											Hash="e514c2838ac3f8bc1546035ad9336bc4c1e80f2a3b65364405e3b5940f2b4feb3841111f550cc3610883566ef422897d6b0e1e0a97686a7acf7367fcc7136676"
																											Name="windowsdesktop-runtime-10.0.1-win-x64.exe"
																											Size="60198208"/>
								
								<ExitCode Value="0" Behavior="success"/>
						</ExePackage>
						<ExePackage DisplayName="Microsoft Windows .NET Desktop Runtime 10.0.1 (x86)"
																	PerMachine="yes"
																	InstallArguments="/norestart /quiet"
																	DetectCondition="DOT_NET_VER &gt;= v10.0.1"
																	InstallCondition="NOT VersionNT64"
																	Permanent="yes">
								<ExePackagePayload DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/10.0.1/windowsdesktop-runtime-10.0.1-win-x86.exe"
																											Hash="d28b4d21cd2fa58f1bd484696fa62c52bbe6ffeabd748a8da6386cf8d30dbf877674075693b9a1028eb21ae891ea239a8b3e083cb58902cc1929096f3f1bfde8"
																											Name="windowsdesktop-runtime-10.0.1-win-x86.exe"
																											Size="55685640"/>

								<ExitCode Value="0" Behavior="success"/>
						</ExePackage>
				</PackageGroup>

  </Fragment>
</Wix>