<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
				       xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
												xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
				<util:ProductSearch
								Id="VCREDIST_x64"
								Variable="VC_VER_x64"
								UpgradeCode="36F68A90-239C-34DF-B58C-64B30153CE35"
								Result="version" />

				<util:ProductSearch
							Id="VCREDIST_x86"
							Variable="VC_VER_x86"
							UpgradeCode="65E5BD06-6392-3027-8C26-853107D3CF1A"
							Result="version" />

				<!--
				Source location for the binaries are the following urls. The content at these targets could be updated at anytime and thus 
				the hash would not match if we tried to do like NET 10 or ASP.NET packages. So including the actual binary in the installer to
				ensure proper function.
				
				DownloadUrl="https://aka.ms/vc14/vc_redist.x64.exe"
				DownloadUrl="https://aka.ms/vc14/vc_redist.x86.exe"
				-->

				<PackageGroup Id="VCRedistPackage">
						<?if $(sys.BUILDARCH) = x64 ?>
						<ExePackage DetectCondition="(VC_VER_x64 &gt;= v14.40.33810.0)"
																		DisplayName="Microsoft Visual C++ 2017-2026 Redistributable (x64)"
																		Compressed="yes"
																		PerMachine="yes"															
																		SourceFile="..\..\Installer\Redist\VC_redist.x64.exe"
																		InstallArguments="/install /quiet /norestart"
																		InstallCondition="VersionNT64"
																		Permanent="true"/>
						<?elseif $(sys.BUILDARCH) = x86 ?>
						<ExePackage DetectCondition="(VC_VER_x86 &gt;= 14.40.33810.0)"
																		DisplayName="Microsoft Visual C++ 2017-2026 Redistributable (x86)"
																		Compressed="yes"
																		PerMachine="yes"																
																		SourceFile="..\..\Installer\Redist\VC_redist.x86.exe"
																		InstallArguments="/install /quiet /norestart"
																		InstallCondition="NOT VersionNT64"
																		Permanent="true"/>
						<?endif?>
				</PackageGroup>

  </Fragment>
</Wix>