<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
					xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

		<?define Logo = "..\..\Installer\vixen.ico" ?>
		<?define LogoSide = "..\..\Installer\vixen.bmp" ?>
		<?define LicenseUrl = "www.vixenlights.com/download/license?>
		<?define Manufacturer = "Vixen Lights"?>

		<?include $(Vixen.Installer.ProjectDir)EnvironmentInclude.wxi?>
		
				<Bundle Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" Version="$(Version)" UpgradeCode="$(var.UpgradeCode)" IconSourceFile="$(var.Logo)">

						<Variable Name="InstallFolder" bal:Overridable="yes" Type="formatted" Value="[ProgramFiles6432Folder]$(var.Manufacturer)\$(var.Name)"/>
						<Variable Name="AddDesktopShortcut" bal:Overridable="yes" Value="1" />
						
						<BootstrapperApplication>
								<bal:WixStandardBootstrapperApplication 
										LicenseUrl="https://www.vixenlights.com/license" 
										Theme="hyperlinkSidebarLicense" 
										ThemeFile="VixenTheme.xml"
										LocalizationFile="Package.en-us.wxl"
										ShowVersion="false"
										LogoFile="$(var.Logo)"
										LogoSideFile="$(LogoSide)"
										LaunchTarget="[InstallFolder]\Vixen.Application.exe"/>
								
						</BootstrapperApplication>

						<Chain>
								<PackageGroupRef Id="VCRedistPackage"/>
								<PackageGroupRef Id="Net6Package"/>
								<PackageGroupRef Id="ASPNetCore6Package"/>
								<PackageGroupRef Id="VixenPackage"/>
						</Chain>
				</Bundle>
</Wix>
