<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.Controls.Grid.StarDefinitionsCanExceedAvailableSpace=true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<probing privatePath="Common;Modules/App;Modules/Analysis;Modules/EffectEditor;Modules/Effect;Modules/Editor;Modules/ModuleTemplate;Modules/Input;Modules/Controller;Modules/RuntimeBehavior;Modules/SequenceType;Modules/Trigger;Modules/Media;Modules/MediaRenderer;Modules/Timing;Modules/Script;Modules/Property;Modules/Preview;Modules/OutputFilter;Modules/SequenceFilter;Modules/SmartController;Modules/Service;"/>-->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>

	<dependentAssembly>
	  <assemblyIdentity name="OpenTK"
	    publicKeyToken="bad199fe84eb3df4"
	    culture="neutral" />
  	<bindingRedirect oldVersion="3.1.0.0" newVersion="3.3.0.0" />
	</dependentAssembly>
		</assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
	</runtime>
	<!--<system.windows.forms jitDebugging="true"/>-->
	<appSettings>
		<!--<add key="DisableEffectsEditorRendering" value="true"/>-->
		<add key="MultiEditLimit" value="75"/>
	</appSettings>
</configuration>
