<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<runtime>
				<AppContextSwitchOverrides value="Switch.System.Windows.Controls.Grid.StarDefinitionsCanExceedAvailableSpace=true"/>
				<loadFromRemoteSources enabled="true"/>
		</runtime>
	<appSettings>
				<!--<add key="DisableEffectsEditorRendering" value="true"/>-->
				<add key="MultiEditLimit" value="75"/>
		</appSettings>
</configuration>
