<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="Logs" xsi:type="File" fileName="${specialfolder:MyDocuments}/Vixen 3/logs/Application.${level}.log" layout="${date:format=MM/dd/yyyy HH\:mm\:ss.fff} [${logger}] ${message} ${exception:format=ToString,StackTrace}" archiveFileName="${specialfolder:MyDocuments}/Vixen 3/logs/archive/Application.${level}.${shortdate}.{#}.log" archiveAboveSize="1000000" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="30"/>

    <target name="ScheduleLogs" xsi:type="File" fileName="${specialfolder:MyDocuments}/Vixen 3/logs/Scheduler.${level}.log" archiveFileName="${specialfolder:MyDocuments}/Vixen 3/logs/archive/Scheduler.${level}.${shortdate}.{#}.log" archiveAboveSize="1000000" archiveEvery="Day" archiveNumbering="Date" layout="${date:format=MM/dd/yyyy HH\:mm\:ss.fff} [${logger}] ${message} ${exception:format=ToString,StackTrace}" maxArchiveFiles="30">
    </target>

    <target name="V2ConvertLogs" xsi:type="File" fileName="${specialfolder:MyDocuments}/Vixen 3/logs/V2Convert.${level}.log" archiveFileName="${specialfolder:MyDocuments}/Vixen 3/logs/archive/V2Convert.${level}.${shortdate}.{#}.log" archiveAboveSize="1000000" archiveEvery="Day" archiveNumbering="Date" layout="${date:format=MM/dd/yyyy HH\:mm\:ss.fff} [${logger}] ${message} ${exception:format=ToString,StackTrace}" maxArchiveFiles="30">
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="VixenModules.SequenceType.Vixen2x.*" minlevel="Info" writeTo="V2ConvertLogs" final="true"/>
    <logger name="Scheduler" minlevel="Debug" writeTo="ScheduleLogs" final="true"/>
    <logger name="*" minlevel="Info" writeTo="Logs"/>
  </rules>
</nlog>
