<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VixenModules.Preview.VixenPreview.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VixenModules.Preview.VixenPreview.Properties.Settings>
            <setting name="Help_MegaTree" serializeAs="String">
                <value>http://vixenlights.com/wiki/index.php?title=Mega_Tree</value>
            </setting>
            <setting name="Help_Star" serializeAs="String">
                <value>http://vixenlights.com/wiki/index.php?title=Star</value>
            </setting>
            <setting name="Help_LinkElements" serializeAs="String">
                <value>http://vixenlights.com/wiki/index.php?title=Element_Links_Screen</value>
            </setting>
            <setting name="Help_BackgroundImage" serializeAs="String">
                <value>http://vixenlights.com/wiki/index.php?title=Background_Image</value>
            </setting>
            <setting name="Help_Main" serializeAs="String">
                <value>http://vixenlights.com/wiki/index.php?title=Vixen_3_Manual</value>
            </setting>
            <setting name="Help_BasicShapes" serializeAs="String">
                <value>http://vixenlights.com/wiki/index.php?title=Basic_Shapes</value>
            </setting>
            <setting name="Help_Net" serializeAs="String">
                <value>http://vixenlights.com/wiki/index.php?title=Net</value>
            </setting>
            <setting name="Help_Arch" serializeAs="String">
                <value>http://vixenlights.com/wiki/index.php?title=Arch</value>
            </setting>
            <setting name="Help_Cane" serializeAs="String">
                <value>http://vixenlights.com/wiki/index.php?title=Candy_Cane</value>
            </setting>
        </VixenModules.Preview.VixenPreview.Properties.Settings>
    </userSettings>
</configuration>