<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VixenModules.Preview.VixenPreview.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VixenModules.Preview.VixenPreview.Properties.Settings>
            <setting name="Help_MegaTree" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/adding-items-to-the-preview/smart-objects/mega-tree/</value>
            </setting>
            <setting name="Help_Star" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/adding-items-to-the-preview/smart-objects/star/</value>
            </setting>
            <setting name="Help_LinkElements" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/how-to/linking-elements/</value>
            </setting>
            <setting name="Help_BackgroundImage" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/background-image/</value>
            </setting>
            <setting name="Help_Main" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/main-preview-screen/</value>
            </setting>
            <setting name="Help_BasicShapes" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/adding-items-to-the-preview/basic-shapes/</value>
            </setting>
            <setting name="Help_Net" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/adding-items-to-the-preview/smart-objects/net/</value>
            </setting>
            <setting name="Help_Arch" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/adding-items-to-the-preview/smart-objects/arch/</value>
            </setting>
            <setting name="Help_Cane" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/adding-items-to-the-preview/smart-objects/candy-cane/</value>
            </setting>
            <setting name="Help_ResizeBackground" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/how-to/resize-the-preview-image/</value>
            </setting>
            <setting name="Help_CustomShape" serializeAs="String">
                <value>http://www.vixenlights.com/vixen-3-documentation/preview/adding-items-to-the-preview/custom-props/</value>
            </setting>
        </VixenModules.Preview.VixenPreview.Properties.Settings>
    </userSettings>
</configuration>