name: Compile Test

on:
  push:
    branches-ignore: 
      - master
      - 'feature/**'
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/.gitignore'
      - '**/README.md'
      - .github/**
      - .tgitconfig
      - 'Release Notes.txt'

  pull_request:
    branches:
      - master
      - 'feature/**'
    paths-ignore:
      - '**/.gitignore'
      - '**/README.md'
      - .github/**
      - .tgitconfig
      - 'Release Notes.txt'
    

jobs:

  compile_test:
  
    runs-on: windows-2025

    steps:
    
      - uses: actions/checkout@v4
      
      - uses: nuget/setup-nuget@v2
        
      - uses: microsoft/setup-msbuild@v2
      
      - name: NuGet Restore
        run: nuget restore Vixen.sln
        
      - name: Build Release
        run: msbuild Vixen.sln -m -t:Rebuild -p:Configuration=Release
  
      - run: dir
        shell: cmd
