name: Compile Test

on:
  push:
    branches-ignore: 
      - master
      - 'feature/**'
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/.gitignore'
      - '**/README.md'
      - .github/**
      - .tgitconfig
      - 'Release Notes.txt'

  pull_request:
    branches:
      - master
      - 'feature/**'
    paths-ignore:
      - '**/.gitignore'
      - '**/README.md'
      - .github/**
      - .tgitconfig
      - 'Release Notes.txt'
    

jobs:

  compile_test:
  
    runs-on: windows-2025

    steps:
    
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'
      
      - name: Display dotnet version
        run: dotnet --version
        
      - name: Install Visual Studio Build Tools 2026 (v145)
        shell: pwsh
        run: |
          Write-Host "Installing VS 2026 Build Tools..."
          choco install visualstudio2026buildtools `
            --package-parameters "--add Microsoft.VisualStudio.Workload.VCTools --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64 --includeRecommended --quiet" `
            -y --ignore-package-exit-codes=3010
          Write-Host "VS 2026 Build Tools installation completed"
        
      - uses: microsoft/setup-msbuild@v2
      
      - name: Build Release
        run: msbuild Vixen.sln -m -t:restore -t:Rebuild -p:Configuration=Release
  
      - run: dir
        shell: cmd
